@font-face {
    font-family: etho;
    src: url('../fonts/ethnocentric.rg-regular.ttf');
}

html {
    background-color: #37393e;
    color: #ffffff;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.etho {
    font-family: etho;
}


.sidebar {
    background-color: #23272a;

    width: 4vw;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
}

.sidebaroptionactive {
    transition: background-color 500ms;
    background: transparent;
    background-color: #37393e;

    border: 0;

    width: 4vw;
    height: 4vw;

    align-self: center;
    justify-self: center;
}

.sidebaroptionactive:hover {
    transition: 500ms;
    background-color: #2f3136;
    cursor: pointer;
}
.sidebaroption {
    transition: background-color 500ms;
    background: transparent;
    background-color: #23272a;

    border: 0;

    width: 4vw;
    height: 4vw;

    align-self: center;
    justify-self: center;
}

.sidebaroption:hover {
    transition: 500ms;
    background-color: #2f3136;
    cursor: pointer;
}

.titleDiv {
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columndiv {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.download {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.dwnlbtn {
    background: transparent;

    border: 0;
}
.dwnltn:hover {
    transition: 500ms;
    background-color: #2f3136;
    cursor: pointer;
}
.footers {
    position: fixed;
    
    bottom: 0;

    width: 100%;
    
    background-color: #23272a;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    background: transparent;

    border: 0;

    width: 4vw;
    height: 4vw;

    align-self: flex-start;
    justify-self: flex-start;
}