@font-face {
    font-family: etho;
    src: url("../assets/fonts/ethnocentric.rg-regular.ttf");
}
html {
    background-color: #121212;
    color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}
.card h1 {
    font-family: etho;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    scroll-snap-align: start;
    align-items: center;
    min-height: 100vh;
}
@-moz-document url-prefix() {
    .card {
        scroll-snap-align: none;
    }
    .cards {
        scroll-snap-type: none;
    }
}
.cards {
    margin: 0;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
    left: 0;
}
.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.card img {
    height: 25vh;
    margin: 2.5%;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: filter, transform 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: filter, transform 1s;
}